body {
    padding: 0;
    margin: 0;
    overflow:hidden;
    font-family: Tahoma;
    background-color: rgb(32, 32, 32);
    color: white;
}

#mainDiv {
    width: 50vw;
    display: inline-block;
}

#topDiv {
    background-color: rgb(64, 64, 64);
    width: 100vw;
    height: 10vh;
    text-align: center;
}

h1 {
    font-size: 7.5vh;
}

#leftDiv {
    width: 25vw;
    height: 50vw;
    float: left;
    text-align: center;
}

#rightDiv {
    width: 25vw;
    height: 50vw;
    float: right;
    text-align: center;
}

#bottomDiv {
    width: 100vw;
}

button {
    color: white;
    background-color: rgb(64, 64, 64);
    border-radius: 10px;
    border-style: hidden;
    width: 12vw;
    height: 6.8vh;
    margin: 5px;
    font-size: 5vh;
}

button:hover {
    background-color: rgb(48, 48, 48);
}

input {
    color: white;
    background-color: rgb(64, 64, 64);
    width: 80px;
    border-style: none;
}

h2 {
    margin-block-start: 0;
    margin-bottom: 1px;
}

#buttonBack {
    display: inline-block;
}

p {
    font-size: 12px;
}

#sheepControls {
    color: rgb(240, 240, 240);
}

#wolfControls {
    color: rgb(128, 128, 128);
}

#grassControls {
    color: rgb(0, 255, 0);
}